:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter;
  /* margin: 0 auto; */
  padding: 0 2em;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 2em 0;
}
nav > img {
  margin-right: auto;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 2em;
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--Grayish-blue);
  display: flex;
  padding: 0.5rem 0;
}
.nav-links a:hover {
  color: var(--Soft-red);
}
#menu {
  display: none;
}
.open-menu-icon,
.close-menu-icon {
  display: none;
}
.open-menu-icon,
.close-menu-icon > img {
  fill: black;
}
@media (max-width: 450px) {
  body {
    /* padding: 0 0.5em;
    width: 300px; */
    height: 100vh;
  }
  nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .open-menu-icon,
  .close-menu-icon {
    /* padding: 0 20px; */
    display: block;
  }
  .open-menu-icon,
  .close-menu-icon > img {
    color: black;
    width: 26px;
    height: 26px;
  }
  .nav-links {
    /* display: none; */
    padding: 1rem 1.5rem;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 100px;
    transition: 0.75s ease-out;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.35);
  }
  #menu:checked ~ .nav-links {
    right: 0;
  }
  #menu:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .left > img {
    width: 50px;
    height: 50px;
  }
  .right {
    padding: 0.1rem;
  }
}

.middle {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  gap: 30px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left > img {
  width: 100%;
  height: 100%;
}
.inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.inner > h1 {
  font-size: 60px;
  font-weight: 800;
  color: var(--Very-dark-blue);
}
.inner > div > p {
  padding-top: 30px;
  padding-right: 20px;
  font-size: 16px;
  text-align: justify;
  /* font-weight: 400; */
  color: var(--Dark-grayish-blue);
}
.inner > div > button {
  border: 2px solid white;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  padding: 1em 3em;
  background-color: var(--Soft-red);
  color: var(--Very-dark-blue);
}
.inner > div > button:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
}
.right {
  background-color: var(--Very-dark-blue);
  padding: 2rem 4em 2em 4em;
  height: 100%;
}
.right > h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--Soft-orange);
}
.right > h3 {
  padding-top: 2em;
  color: var(--Off-white);
}
.right > h3:hover {
  color: var(--Soft-orange);
}
.right > p {
  color: var(--Grayish-blue);
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: justify;
}

.bottom {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  gap: 3em;
  padding-bottom: 3em;
}
.inn {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  gap: 1.5em;
  text-align: left;
}
/* .inn:nth-last-child(div) {
  padding-right: 2em;
} */
.inner-bottom {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: left;
}
.inner-bottom > h2 {
  text-align: justify;
  letter-spacing: normal;
  font-size: 40px;
  margin: 0;
  color: var(--Soft-red);
}
.inner-bottom > h3 {
  /* text-align: justify; */
  letter-spacing: normal;
  color: var(--Very-dark-blue);
  margin: 0;
}
.inner-bottom > h3:hover {
  color: var(--Soft-red);
}
.inner-bottom > h4 {
  /* text-align: justify; */
  letter-spacing: normal;
  color: var(--Dark-grayish-blue);
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .middle {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .left > img {
    height: 100%;
  }
  .inner {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .inner > h1 {
    padding-top: 30px;
    margin: 0;
  }
  .inner > div > p {
    padding: 5px;
  }
  .inner > div > button {
    margin-top: 0px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1102px) {
  .bottom {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    /* justify-items: center; */
  }
}

/* <nav className='flex items-center bg-white justify-between p-6'>
<div>
  <img src={navLogo} alt="navLogo" />
</div>
<div className='menu-icon' onClick={toggleNavbar}>
<i className={isOpen ? 'fas fa-times' : 'fas fa-bars'}></i>
</div>
{flex justify-center gap-10 className={`nav-links ${isOpen ? 'block' : 'hidden'}`}}
<div className={isOpen ? 'nav-links' : 'hidden'}>
  <a href="#skills">Skills</a>
  {items-center justify-center }
  <div className='Profile-gears flex text-red-500 '>
    <img src={gears} alt="Profile-gears" className=''/>
    <a href="#Projects">Projects</a>
  </div>
  <a href="#Contact">Contact Me</a>
</div>
</nav> */
